quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.dataSource = myDb
quartz.dataSource.myDb.connectionString = server=192.168.3.125;database=myDb;uid=root;pwd=123456;charset=utf8;SslMode=None;Allow User Variables=True
quartz.dataSource.myDb.provider = MySql
quartz.serializer.type = json