quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.dataSource = db_pajxgy_job
quartz.dataSource.db_pajxgy_job.connectionString = server=192.168.3.125;database=db_pajxgy_job;uid=root;pwd=k8-sgM&W;charset=utf8;SslMode=None;Allow User Variables=True
quartz.dataSource.db_pajxgy_job.provider = MySql
quartz.serializer.type = json